// Default: Mobile

body {
    font-family: $font-family;
    color: $white;
    //overflow: hidden;
}

.background {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;

    &::before {
        content: '';
        position: absolute; 
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: rgba(0,0,0,0.4);
    }
}

.main__container {
    @include flex (column, space-between, center);
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
    transition: transform 0.5s ease;

    .quote__container {
        max-width: 60rem;
        width: 100%;
        height: auto;
        margin-top: 2.5rem;
        padding: 0 2.6rem;
        @include flex(row, space-between, baseline);
        text-align: left;

        &-random {
            max-width: 90%;
            width: 90%;
            height: auto;

            .author {
                margin-top: 2.5rem;
            }
        }

        #refresh {
            border:none;
            cursor: pointer;
            background: none;
            padding-left: 1rem;
        }
    }

    .current {
        @include flex (column, center, flex-start);
        max-width: 85vw;
        width: 100%;
        height: 90%;
        margin-top: 10rem;
        text-transform: uppercase;

        &__container {
            width: 100%;
            header {
                max-width: 85vw;
                width: 100%;
                height: auto;
                
                .icon {
                    padding-right: 1rem;
                }

                .current__greeting {
                    font-weight: $weight-regular !important;
                    letter-spacing: .3rem;
                }

                .currently {
                    display: none;

                    @include md-breakpoint {
                        display: block;
                    }
                }
            }
        }

        &__time {
            max-width: 111.3rem;
            width:100%;
            height: 100%;
            
            .time__container {
                @include flex (row, space-between, center);
            }
        }
    }
}



/* Attribution */
.attribution {
    position: relative;
    padding: 5px 0;
    font-size: 11px;
    text-align: center;
}

.attribution a:hover {
    //color: $white;
}

    
    





