// Default: Mobile

.background {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;

    &::before {
        content: '';
        position: absolute; 
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: rgba(0,0,0,0.4);
    }
}

.app__widgets {
    padding: 3.2rem 2.6rem 4rem;
    position: relative;
    height: 100%;
    max-width: 115rem;
    transition: transform 0.5s ease;
    text-align: left;
    color: $white;
    @include flex (column, space-between);

    @include md-breakpoint {
        padding: 8.3rem 13.1rem 6.4rem 6.4rem;
    }
   
    
}

/* Quote Container */

.quote__container {
    max-width: 60.3rem;
    display: grid;
    grid-template-columns: 1fr 1.67rem;
    column-gap: 1.6rem;

    .quote-text {
        @include md-breakpoint {
            font-size: 1.2rem;
            line-height: 2.8rem;
        }
    }

    .author {
        padding-top: 0.8rem;
        font-weight: $weight-bold !important;

        @include md-breakpoint {
            font-size: 1.2rem;
            line-height: 2.8rem;
        }

        @include lg-breakpoint {
            padding: 1.3rem 0 9.8rem;
        }
    }
}

#refresh {
    height: 1.8rem;
    border: none;
    cursor: pointer;
    background: none;

    @include md-breakpoint {
        margin-top: 0.3rem;
    }

    @include lg-breakpoint {
        margin-top: 1rem;
    }
}



/* Footer */
#content {
    visibility: hidden;
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 300px;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

#content.appear {
    visibility: visible;
    opacity: 1;
}

.bottom {
    bottom: -110px;
}





.transform {
    transform: translate3d(0, -25.6rem, 0);
}

/* Attribution */
.attribution {
    /* background-color: $black; */
    position: fixed;
    height: 20px;
    bottom: -150px;
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    color: white;
}