// Default: Mobile

body {
    max-width: 100vw;
    max-height: 100vh;
    color: $white;
}

.background {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;

    &::before {
        content: '';
        position: absolute; 
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: rgba(0,0,0,0.4);
    }
}







/* Footer */
#content {
    visibility: hidden;
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 260px;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

#content.appear {
    visibility: visible;
    opacity: 1;
}

.description {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(40.77px);
    //padding: 4rem 0;
    color: $dark-gray;
}

.bottom {
    bottom: -100px;
}



.transform {
    transform: translate3d(0, -25.6rem, 0);
}

/* Attribution */
.attribution {
    /* background-color: $black; */
    position: fixed;
    height: 20px;
    bottom: -150px;
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    color: white;
}