@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


.text-body-regular,
.text-xs,
.text-sm,
.text-md,
.text-lg,
.text-xl {
    font-family: $font-family;
}

//Body Text
.text-body-regular {
    font-size: 18px;
    line-height: 28px;
    font-weight: $weight-regular;
}

// Additional Text
.text-xs {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: +3;
}

.text-sm {
    font-size: 18px;
    font-weight: $weight-bold;
    line-height: 28px;
}

.text-md {
    font-size: 20px;
    font-weight: $weight-regular;
    line-height: 28px;
    letter-spacing: +4;
}










