@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


.text-body-regular,
.text-xs,
.text-sm,
.text-md,
.text-lg,
.text-xl,
.text-xxl {
    font-family: $font-family;
}

//Body Text
.text-body-regular {
    font-size: 18px;
    line-height: 28px;
    font-weight: $weight-regular;
}

// Additional Text
.text-xs {
    font-size: 15px;
    font-weight: $weight-regular;
    line-height: 28px;
    letter-spacing: +3px;
}

.text-sm {
    font-size: 18px;
    font-weight: $weight-bold;
    line-height: 28px;
}

.text-md {
    font-size: 20px;
    font-weight: $weight-regular;
    line-height: 28px;
    letter-spacing: +4px;
    text-transform: uppercase;
}

.text-lg {
    font-size: 24px;
    font-weight: $weight-bold;
    line-height: 28px;
    letter-spacing: -4.8px;
    text-transform: uppercase;
}

.text-xl {
    font-size: 100px;
    font-weight: $weight-bold;
    line-height: 64px;
}

.text-xxl {
    font-size: 200px;
    font-weight: $weight-bold;
    line-height: 200px;
    letter-spacing: -5px;

}










