/* Variables */

/* Colors */
$black: hsl(0, 0%, 0);
$dark-gray: hsl(0, 0%, 19);
$white: hsl(0, 0%, 100);

/* Font */
$font-family: 'Inter',
sans-serif;
$weight-regular: 400;
$weight-bold: 700;

// Breakpoints
$layout-breakpoint-sm: 576px;
$layout-breakpoint-md: 768px;
$layout-breakpoint-lg: 992px;
